
.center {
    text-align: center;
}
h1 {font-family: 'Aldrich';
}
.navbar li {font-family: 'Aldrich';}



}

#clock-wrapper{
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
    font-size:40px;
    color:#696969;
    text-align:center;
    margin-top:20px;
}


.txtoftime, .when-alrm-ring{
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
    color:#696969;
    font-size:20px;
    text-align:center;
}
.getalarmtime{
    border:none;
    background:transparent;
    outline:none;
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
    font-size:30px;
    color:#eee;
    border-bottom:1px solid #eee;
    width:100px;
    margin-top:20px;
    text-align:center;
}
.btntosetalrm{
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
    color:#696969;
    border:3px solid #696969;
    padding:10px;
    width:140px;
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    cursor:pointer;
}
.btntosetalrm:hover{
    color:black;
    background:#fff;
}
.when-alrm-ring{
    display:none;
}